@namespace MudExtensions
@inherits MudComponentBase

<div class="@Classname" style="@Style">
    <MudSlider @ref="_slider" Class="mud-splitter-thumb mud-splitter-track" T="double" Min="0" Max="100" Step="0.1" ValueChanged="GetDimensions" />

    <div class="@ContentClassname" style="@StyleContent">
        @FirstContent
    </div>
    <div class="@ContentClassname" style="@StyleContent">
        @SecondContent
    </div>
</div>

<style>
    .mud-splitter-generate {
        @($"grid-template-columns: {_firstContentDimension.ToInvariantString()}% {_secondContentDimension.ToInvariantString()}%")
    }

    .mud-splitter-thumb ::-webkit-slider-thumb {
        @(Color == Color.Default ? "background-color: var(--mud-palette-action-default) !important;" : $"background-color: var(--mud-palette-{Color.ToDescriptionString()}) !important;") @(StyleBar)
        @(Height != null ? $"height: {Height}px !important;" : null)
    }

    .mud-splitter-thumb ::-moz-range-thumb {
        @(StyleBar)
    }

    .mud-splitter-content {
        @(Height != null ? $"height: {Height}px;" : null)
    }
</style>
