@namespace MudExtensions
@inherits MudComponentBase

<a href="@(Clickable ? Value : null)" target="@Target">
    @{
        var content = GetQrCode();
    }
    @if (content != null)
    {
        <MudImage Src="@(content == null ? null : String.Format("data:image/png;base64,{0}", Convert.ToBase64String(content)))" Height="Height" Width="Width" Class="@Class" Style="@Style" />
    }
    else
    {
        <MudImage Height="Height" Width="Width" Class="@Class" Style="@Style" />
    }
</a>