@namespace MudExtensions
@inherits MudComponentBase
@using MudExtensions.Enums


@if (Loading == true)
{
    if (LoaderType == LoaderType.Circular)
    {
        if (LoaderContent != null)
        {
            @LoaderContent
        }
        else
        {
            <MudOverlay Visible="_loading" Absolute="true" DarkBackground="@Darken">
                <div class="d-flex flex-column align-center justify-center">
                    <MudProgressCircular Class="@ClassLoader" Style="@StyleLoader" Color="Color.Primary" Indeterminate="true" />
                    <MudText Class="@TextClassname" Style="@StyleText">@Text</MudText>
                </div>
            </MudOverlay>
        }
    }
    else if (LoaderType == LoaderType.Linear)
    {
        if (LoaderContent != null)
        {
            @LoaderContent
        }
        else
        {

            <MudProgressLinear Class="@ClassLoader" Style="@StyleLoader" Color="Color.Primary" Indeterminate="true" />
            <MudText Class="@TextClassname" Style="@StyleText" Align="Align.Center">@Text</MudText>
            
            <MudOverlay Visible="_loading" Absolute="true" DarkBackground="@Darken">
                <div class="d-flex align-center justify-center">
                
                </div>
            </MudOverlay>
        }
    }
}

@if (!Loading || Overlap)
{
    @ChildContent
}
