@namespace MudExtensions
@typeparam T
@inherits MudFormComponent<T, string>

<div class="@Classname" style="@Style">
    @for (int i = 0; i < Count; i++)
    {
        int a = i;
        <MudTextField @ref="_elementReferences[a]" T="T" Class="@InputClassname" Style="@(Margin == Margin.Dense ? "width: 32px" : "width: 42px")" MaxLength="1"
            @onkeydown="HandleKeyDown" @onfocus="@(() => CheckFocus(a))" @onblur="SetValue"
            Variant="@Variant" Margin="@Margin" Disabled="Disabled" ReadOnly="ReadOnly" Immediate="true" InputType="InputType" />
    }
</div>

<style>
    .justify-text-center input {
        text-align: center;
    }

    .mud-code input {
        padding: 12px 0px !important;
    }
</style>