@page "/"
@namespace ComponentViewer.Docs.Pages
@using MudExtensions.Enums
@using ComponentViewer.Docs.Shared

@inject IScrollManager ScrollManager

<MudScrollbar Width="8" Color="primary" HoverColor="secondary" />
<MudScrollToTop>
    <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.ArrowUpward" />
</MudScrollToTop>

<MudContainer Class="d-flex flex-column align-center justify-center pa-4 top-container" MaxWidth="MaxWidth.False">
    <div class="d-flex align-baseline justify-center mt-6" @onmouseenter="@(() => _hover = true)" @onmouseleave="@(() => _hover = false)">
        <MudText Class="slogan" Align="Align.Center">The</MudText>
        <MudText Class="slogan" Align="Align.Center" Color="Color.Primary">Mud</MudText>
        <MudText Class="slogan" Align="Align.Center" Color="Color.Secondary">@GetSloganText()</MudText>
    </div>
    <div class="d-flex align-baseline gap-2 justify-center mb-10">
        <MudText Class="slogan3" Align="Align.Center">by</MudText>
        <MudLink Class="slogan3" Href="https://github.com/CodeBeamOrg/CodeBeam.MudExtensions" Target="_blank" Color="Color.Info" Underline="Underline.Hover">CodeBeam</MudLink>
    </div>

    <div class="d-flex align-baseline gap-2 justify-center my-10 mud-width-full">
        <MudButton Href="https://github.com/CodeBeamOrg/CodeBeam.MudExtensions" Target="_blank" Color="Color.Secondary" Variant="Variant.Outlined"><MudText>GitHub</MudText></MudButton>
        <MudButton Href="https://trymudextensions.pages.dev/" Target="_blank" Color="Color.Secondary" Variant="Variant.Outlined"><MudText Align="Align.Center">Try MudExtensions</MudText></MudButton>
        <MudButton Href="https://www.nuget.org/packages/CodeBeam.MudExtensions" Target="_blank" Color="Color.Secondary" Variant="Variant.Outlined"><MudText>NuGet</MudText></MudButton>
    </div>

    <div class="d-flex align-baseline gap-2 justify-center my-10">
        <MudGrid Class="justify-center">
            <MudItem xs="12" sm="6" md="4" lg="3">
                <ComponentCard Title="Extended Components" Description="Known Mud components with new features added while keeping all existing features." ShowActionButton="false" NavigateToComponentPage="false" />
            </MudItem>

             <MudItem xs="12" sm="6" md="4" lg="3">
                <ComponentCard Title="Unique Components" Description="New Mud components that Mud Core doesn't have." ShowActionButton="false" NavigateToComponentPage="false" />
            </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3">
                <ComponentCard Title="Be a Sponsor" Description="You can help the basic expenses of the project." ShowActionButton="false" ComponentName="BeASponsor" />
            </MudItem>
        </MudGrid>
    </div>
    
    <div class="d-flex justify-center mt-12">
        <MudIconButton Icon="@Icons.Material.Filled.ArrowDownward" Style="height: 52px;" Color="Color.Secondary" Variant="Variant.Outlined" OnClick="@(async() => await ScrollManager.ScrollToAsync("cont", 0, 1600, ScrollBehavior.Smooth))" />
    </div>
</MudContainer>

<MudExpansionPanels Style="background-color: var(--mud-palette-background-grey)" MultiExpansion="true">
    <MudExpansionPanel IsInitiallyExpanded="true" Text="Extended Components" Style="background-color: var(--mud-palette-background-grey)">
        <MudGrid Class="justify-center">
            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <ComponentCard Title="MudListExtended"
                               Description="The extended MudList component." />
            </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <ComponentCard Title="MudSelectExtended"
                               Description="The extended MudSelect component." />
            </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <ComponentCard Title="MudTextFieldExtended"
                               Description="The extended MudTextField component." />
            </MudItem>
        </MudGrid>
    </MudExpansionPanel>

    <MudExpansionPanel IsInitiallyExpanded="true" Text="Unique Components" Style="background-color: var(--mud-palette-background-grey)">
        <MudGrid>
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="API"
                           Description="A basic API list for all components." />
        </MudItem>
        
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudAnimate"
                           Description="A revolutionary next generation animate component." />
        </MudItem>

            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                <ComponentCard Title="MudChipField"
                               Description="A textfield with returns chips with defined delimiter." />
            </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudCodeInput"
                           Description="A group of textfields that each one can contain a char." />
        </MudItem>
        
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudColorProvider"
                           Description="An extension for primary, secondary and tertiary colors to support Material 3" />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudCsvMapper"
                           Description="A .csv file uploader that matches the .csv file headers to supplied / expected headers." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudDateWheelPicker"
                           Description="A date time picker with MudWheels." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudGallery"
                           Description="Mobile friendly image gallery component." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudInputStyler"
                           Description="Applies CSS colors easily for mud inputs like MudTextField and MudSelect." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudLoading"
                           Description="Loading indicator for a whole page or a specific component." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudLoadingButton"
                           Description="A classic MudButton with loading improvements." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudPage & MudSection" ComponentName="MudPage"
                           Description="A CSS grid layout component that builds columns and rows, supports ColSpan & RowSpan" />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudPasswordField"
                           Description="A specialized textfield that designed for working easily with passwords." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudPopup"
                           Description="A mobile friendly popup content for several situations." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudScrollbar"
                           Description="Handle all or selected scrollbar styles with a Mud component." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudSpeedDial"
                           Description="An expandable fab component." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudSplitter"
                           Description="A resizeable content splitter." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudStepper"
                           Description="A wizard-like steps to control the flow with rich options." />
        </MudItem>
        
        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudSwitchM3"
                           Description="Material 3 switch component that has all MudBlazor features." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudWatch"
                           Description="A performance optimized watch to show current time or show stopwatch or countdown." />
        </MudItem>

        <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
            <ComponentCard Title="MudWheel"
                           Description="Smoothly changes values in a wheel within defined ItemCollection." />
        </MudItem>
        
    </MudGrid>
    </MudExpansionPanel>
</MudExpansionPanels>

<style>
    .slogan {
        color: var(--mud-palette-text-primary);
        font-size: calc(16px + 6vw);
        font-weight: 900;
        font-family: "Roboto Black";
        letter-spacing: 0;
        transition: all 1s;
        cursor: pointer;
        user-select: none;
    }

    .slogan:hover {
        letter-spacing: calc(4px + 2vw);
    }

    .top-container {
        min-height: 100vh;
        background-color: var(--mud-palette-background-grey);
        overflow: hidden;
    }

    .slogan3 {
        color: var(--mud-palette-text-primary);
        font-size:24px;
        font-weight: 300;
    }
</style>

@code{
    [CascadingParameter]
    MainLayout MainLayout { get; set; }

    bool _hover = false;

    private string GetSloganText()
    {
        if (_hover)
        {
            return "Extension";
        }
        else
        {
            return "Secondary";
        }
    }
}
