@namespace MudExtensions
@using MudExtensions.Enums;
@inherits MudBaseSelectItem
@typeparam T

@if (MudComboBox is not null)
{
    <div tabindex="0" @attributes="@UserAttributes" id="@ItemId" class="@Classname" @onclick="@HandleOnClick" @onclick:stopPropagation="true" style="@Style">

        @if (MudComboBox.MultiSelection && MudComboBox.ShowCheckbox)
        {
            <MudCheckBox Class="me-4" Color="@MudComboBox.Color" Disabled="@Disabled" @bind-Checked="@Selected" @onclick="@HandleOnClick" Dense="true" />
        }

        <MudText Typo="GetTypo()">
            @if (ChildContent != null && MudComboBox.ItemPresenter == ValuePresenter.ItemContent)
            {
                @ChildContent
            }
            else
            {
                <MudHighlighter Text="@DisplayString" HighlightedText="@(MudComboBox.Highlight ? MudComboBox.GetSearchString() : null)" Class="@HighlighterClassname" />
            }
        </MudText>
    </div>
}
